{% extends "base.html" %}
{% block title %}
  Анфиса для друзей. Подробное описание мороженого
{% endblock %}
{% load static %}
{% block content %} 
<h1 class="pb-2 mb-0">Классический пломбир</h1>  
   <div class="row mt-3">
     <div class="col-12 col-md-6">
       <h2>Описание</h2>
       <p>Настоящее мороженое, для истинных ценителей вкуса. Если на столе появляется пломбир — это не надолго.</p>      
     </div> 
     <div class="col-12 col-md-6 mb-3">
    
      <img src="{% static 'css/img/image-holder.png' %}" alt="Image Holder"
      class="img-fluid" 
      height="400" width="300"
      > 
     </div>
   </div>     
{% endblock %}
 